ion-col {
    position: relative;

    div.checkbox-container {
        position: absolute;
        top: 0rem;
        left: 0rem;
        height: calc(100% - 30px);
        width: calc(100% - 30px);
        margin: 15px;
        border-radius: 4px;

        ion-checkbox {
            position: absolute;
            top: 0.5rem;
            left: 0.5rem;
            background: #FFFFFF;
            border-radius: 50px;
            border: 2px solid #FFFFFF;
        }

        div.backdrop {
            background-color: var(--ion-background-color);
            border-radius: 4px;
            opacity: 0.5;
            height: 100%;
            width: 100%;
        }
    }

    div.add-games-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 120px;
        width: calc(100% - 20px);
        margin: 10px;
        border-radius: 5px;
        border: 2px dashed var(--ion-color-primary);
        font-size: 18px;
        font-weight: bold;

        ion-icon {
            margin-right: 0.5rem;
        }
    }
}

ion-popover ion-list {
    padding: 0;

    ion-item {
        --padding-start: 0;
    }
}
