<ion-header *transloco="let t">

  <ion-toolbar color="primary">
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lists"></ion-back-button>
    </ion-buttons>

    <ion-title> {{ list?.name }} </ion-title>

    <ion-buttons slot="end">
      <ion-button *ngIf="isInEditMode" (click)="onClickSelectGames()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
      <ion-button id="side-button">
        <ion-icon slot="icon-only" name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-popover #optionsPopover trigger="side-button" [dismissOnSelect]="true">
      <ng-template>
        <ion-content>
          <ion-list>
            <ion-item (click)="onClickChangeListName()">
              <ion-label slot="end"> {{ t('lists.list.changeName') }} </ion-label>
            </ion-item>
            <ion-item (click)="onClickAddToFavorites()" *ngIf="!list?.isFavorite">
              <ion-label slot="end"> {{ t('lists.list.addToFavorites') }} </ion-label>
            </ion-item>
            <ion-item (click)="onClickRemoveFromFavorites()" *ngIf="list?.isFavorite">
              <ion-label slot="end"> {{ t('lists.list.removeFromFavorites') }} </ion-label>
            </ion-item>
            <ion-item (click)="onClickSelectGames()" *ngIf="hasDataToShow">
              <ion-label slot="end" *ngIf="!isInEditMode"> {{ t('lists.list.selectGames') }} </ion-label>
              <ion-label slot="end" *ngIf="isInEditMode"> {{ t('lists.list.stopSelecting') }} </ion-label>
            </ion-item>
            <ion-item (click)="onClickShowNextLevelModal(deleteListModalOptions)" lines="none">
              <ion-label slot="end" color="danger"> {{ t('lists.list.delete') }} </ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-popover>
    
  </ion-toolbar>

</ion-header>

<ion-content *transloco="let t">

  <ion-grid *ngIf="hasDataToShow">

    <ion-row>

      <ion-col size="12" size-sm="12" size-md="6" size-lg="6" size-xl="4" *ngFor="let game of list?.games">
        
        <app-game-card
          (click)="onClickNavigateToGame(game.id)"
          (press)="onClickSelectGames()"
          [game]="game"
          [isStatusBarVisible]="true">
        </app-game-card>

        <div class="checkbox-container" *ngIf="isInEditMode">
          <ion-checkbox #checkbox mode="ios" (ionChange)="updateGamesToDeleteList(checkbox.checked, game)"></ion-checkbox>
          <div class="backdrop" (click)="checkbox.checked = !checkbox.checked"></div>
        </div>
        
      </ion-col>

    </ion-row>

  </ion-grid>

  <app-empty-screen *ngIf="!hasDataToShow"
      [icon]="'game-controller-outline'"
      [title]="t('lists.list.emptyScreen.title')"
      [description]="t('lists.list.emptyScreen.description')"
      [buttonLabel]="t('lists.list.emptyScreen.buttonLabel')"
      (clickEventEmitter)="onClickNavigateToLibrary()">
  </app-empty-screen>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="gamesToDelete?.length !== 0 && hasDataToShow">

    <ion-fab-button color="danger" (click)="onClickShowNextLevelModal(deleteGamesModalOptions)">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-fab-button>

  </ion-fab>

  <app-next-level-modal #nextLevelModal></app-next-level-modal>

</ion-content>
