<ion-header *transloco="let t">

  <ion-toolbar color="primary">
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lists"></ion-back-button>
    </ion-buttons>

    <ion-title (click)="onClickChangeListName()"> {{ list?.name }} </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="onClickShowNextLevelModal(deleteListModalOptions)" *ngIf="!isInEditMode">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-button>
      <ion-button (click)="onClickChangeEditMode()">
        <ion-icon slot="icon-only" [name]="!isInEditMode ? 'create-outline' : 'close'"></ion-icon>
      </ion-button>
    </ion-buttons>
    
  </ion-toolbar>

</ion-header>

<ion-content *transloco="let t">

  <ion-grid>

    <ion-row>

      <ion-col size="12" size-xl="3" size-lg="3" size-md="4" size-sm="6" *ngFor="let game of list?.games">
        
        <app-game-card (click)="onClickNavigateToGame(game.id)" [game]="game"></app-game-card>

        <div class="checkbox-container" *ngIf="isInEditMode">
          <ion-checkbox #checkbox mode="ios" (ionChange)="updateGamesToDeleteList(checkbox.checked, game)"></ion-checkbox>
          <div class="backdrop" (click)="checkbox.checked = !checkbox.checked"></div>
        </div>
        
      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="gamesToDelete?.length !== 0">

    <ion-fab-button color="danger" (click)="onClickShowNextLevelModal(deleteGamesModalOptions)">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-fab-button>

  </ion-fab>

  <app-next-level-modal #nextLevelModal></app-next-level-modal>

</ion-content>
