<app-header section="settings"></app-header>

<ion-content *transloco="let t">

  <ion-list>

    <ion-list-header>
      <div class="header-container">
        {{ t('settings.appColor') }}
        <ion-chip color="danger" mode="md" outline="true" *ngIf="!isProUser">
          <ion-label> PRO </ion-label>
        </ion-chip>
      </div>
    </ion-list-header>

    <ion-radio-group name="theme" [value]="themeSelected" (ionChange)="onChangeTheme($event)">

      <ion-item lines="full" [disabled]="!isProUser">
        <ion-label color="red"> {{ t('settings.colors.red') }} </ion-label>
        <ion-radio value="red" color="red"></ion-radio>
      </ion-item>

      <ion-item lines="full" [disabled]="!isProUser">
        <ion-label color="orange"> {{ t('settings.colors.orange') }} </ion-label>
        <ion-radio value="orange" color="orange"></ion-radio>
      </ion-item>

      <ion-item lines="full" [disabled]="!isProUser">
        <ion-label color="yellow"> {{ t('settings.colors.yellow') }} </ion-label>
        <ion-radio value="yellow" color="yellow"></ion-radio>
      </ion-item>

      <ion-item lines="full" [disabled]="!isProUser">
        <ion-label color="green"> {{ t('settings.colors.green') }} </ion-label>
        <ion-radio value="green" color="green"></ion-radio>
      </ion-item>

      <ion-item lines="full" [disabled]="!isProUser">
        <ion-label color="blue"> {{ t('settings.colors.blue') }} </ion-label>
        <ion-radio value="blue" color="blue"></ion-radio>
      </ion-item>

    </ion-radio-group>

  </ion-list>

  <ion-list>

    <ion-list-header> {{ t('settings.appTheme') }} </ion-list-header>

    <ion-item lines="full">
      <ion-icon slot="start" name="moon"></ion-icon>
      <ion-label> {{ t('settings.darkMode') }} </ion-label>
      <ion-toggle id="themeToggle" slot="end" [(ngModel)]="isDarkModeEnabled" (ionChange)="onChangeDarkMode()"></ion-toggle>
    </ion-item>

  </ion-list>

  <ion-list>

    <ion-list-header> {{ t('settings.appLanguage') }} </ion-list-header>

    <ion-radio-group name="language" [value]="languageSelected" (ionChange)="onChangeLanguage($event)">

      <ion-item lines="full">
        <ion-label> {{ t('settings.languages.spanish') }} </ion-label>
        <ion-radio value="es"></ion-radio>
      </ion-item>
      
      <ion-item lines="full">
        <ion-label> {{ t('settings.languages.english') }} </ion-label>
        <ion-radio value="en"></ion-radio>
      </ion-item>

    </ion-radio-group>

  </ion-list>
    
</ion-content>
