div.avatar-image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
}

ion-item.modal-item ion-label {
    margin: 20px 0px;

    ion-icon {
        margin-top: 10px;
    }

    h2 {
        margin-top: 10px;
    }

    p {
        margin-bottom: 20px;
    }
}
