<app-header section="profile"></app-header>

<ion-content *transloco="let t">

    <ion-list>
        
        <div class="avatar-image-container">
            <ion-avatar>
                <img [src]="user?.photoURL" />
            </ion-avatar>

            <ion-item lines="none">
                <ion-label class="ion-text-center" text-wrap>
                    <h2> {{ user?.displayName }} </h2>
                    <p> {{ user?.email }} </p>
                </ion-label>
            </ion-item>

        </div>
        
        <ion-item routerLink="user" lines="full">
            <ion-icon slot="start" color="primary" name="person-outline"></ion-icon>
            <ion-label> {{ t('profile.changeUser.title') }} </ion-label>
        </ion-item>

        <ion-item routerLink="email" lines="full">
            <ion-icon slot="start" color="primary" name="mail-outline"></ion-icon>
            <ion-label> {{ t('profile.changeEmail.title') }} </ion-label>
        </ion-item>

        <ion-item routerLink="password" lines="full">
            <ion-icon slot="start" color="primary" name="key-outline"></ion-icon>
            <ion-label> {{ t('profile.changePassword.title') }} </ion-label>
        </ion-item>

        <ion-item lines="full" id="trigger-log-out-modal">
            <ion-icon slot="start" color="danger" name="log-out-outline"></ion-icon>
            <ion-label color="danger"> {{ t('profile.logOut.title') }} </ion-label>
        </ion-item>

        <ion-item lines="full" id="trigger-delete-accoount-modal">
            <ion-icon slot="start" color="danger" name="trash-outline"></ion-icon>
            <ion-label color="danger"> {{ t('profile.deleteAccount.title') }} </ion-label>
        </ion-item>

    </ion-list>

    <ion-modal mode="md" [breakpoints]="breakpoints" [initialBreakpoint]="initialBreakpoint" trigger="trigger-delete-accoount-modal">
        
        <ng-template>

            <ion-content>

                <ion-item class="modal-item" lines="none">
                    <ion-label class="ion-text-center" text-wrap>
                        <ion-icon slot="start" name="trash-outline" size="large" color="danger"></ion-icon>
                        <h2> {{ t('profile.deleteAccount.deleteAccountHeader') }} </h2>
                        <p> {{ t('profile.deleteAccount.deleteAccountBody') }} </p>
                        <ion-button mode="ios" size="large" expand="block" color="danger"> {{ t('buttons.delete') }} </ion-button>
                    </ion-label>
                </ion-item>

            </ion-content>

        </ng-template>

    </ion-modal>

    <ion-modal #logOutModal mode="md" [breakpoints]="breakpoints" [initialBreakpoint]="initialBreakpoint" trigger="trigger-log-out-modal">
        
        <ng-template>

            <ion-content>

                <ion-item class="modal-item" lines="none">
                    <ion-label class="ion-text-center" text-wrap>
                        <ion-icon slot="start" name="log-out-outline" size="large" color="danger"></ion-icon>
                        <h2> {{ t('profile.logOut.logOutHeader') }} </h2>
                        <p> {{ t('profile.logOut.logOutBody') }} </p>
                        <ion-button mode="ios" size="large" expand="block" color="danger" (click)="onClickLogOutButton(logOutModal)">
                            {{ t('buttons.logOut') }}
                        </ion-button>
                    </ion-label>
                </ion-item>

            </ion-content>

        </ng-template>

    </ion-modal>

</ion-content>
