body.green {
    --ion-color-primary: #43AA8B !important;
	--ion-color-primary-rgb: 67,170,139 !important;
	--ion-color-primary-contrast: #ffffff !important;
	--ion-color-primary-contrast-rgb: 255,255,255 !important;
	--ion-color-primary-shade: #3b967a !important;
	--ion-color-primary-tint: #56b397 !important;
}

.ion-color-green {
    --ion-color-base: var(--ion-color-green) !important;
    --ion-color-base-rgb: var(--ion-color-green-rgb) !important;
    --ion-color-contrast: var(--ion-color-green-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-green-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-green-shade) !important;
    --ion-color-tint: var(--ion-color-green-tint) !important;
}