body.red {
    --ion-color-primary: #F94144 !important;
    --ion-color-primary-rgb: 249,65,68 !important;
    --ion-color-primary-contrast: #ffffff !important;
    --ion-color-primary-contrast-rgb: 255,255,255 !important;
    --ion-color-primary-shade: #db393c !important;
    --ion-color-primary-tint: #fa5457 !important;
}

.ion-color-red {
    --ion-color-base: var(--ion-color-red) !important;
    --ion-color-base-rgb: var(--ion-color-red-rgb) !important;
    --ion-color-contrast: var(--ion-color-red-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-red-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-red-shade) !important;
    --ion-color-tint: var(--ion-color-red-tint) !important;
}