body.red {
    --ion-color-primary: #F94144 !important;
    --ion-color-primary-rgb: 249,65,68 !important;
    --ion-color-primary-contrast: #ffffff !important;
    --ion-color-primary-contrast-rgb: 255,255,255 !important;
    --ion-color-primary-shade: #db393c !important;
    --ion-color-primary-tint: #fa5457 !important;
}