<ion-header *transloco="let t">

  <ion-toolbar color="primary">
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>

    <ion-title> {{ t('profile.changePassword.title') }} </ion-title>
    
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding" *transloco="let t">

  <form [formGroup]="changePasswordForm">

    <ion-item  fill="outline">
      <ion-icon slot="start" name="key-outline"></ion-icon>
      <ion-label position="floating"> {{ t('profile.changePassword.currentPassword') }} </ion-label>
      <ion-input type="password" formControlName="currentPassword"></ion-input>
    </ion-item>
  
    <ion-item  fill="outline" class="password-item">
      <ion-icon slot="start" name="key-outline"></ion-icon>
      <ion-label position="floating"> {{ t('profile.changePassword.newPassword') }} </ion-label>
      <ion-input type="password" formControlName="newPassword"></ion-input>
    </ion-item>
  
    <ion-item  fill="outline" class="password-item">
      <ion-icon slot="start" name="key-outline"></ion-icon>
      <ion-label position="floating"> {{ t('profile.changePassword.confirmPassword') }} </ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>

  </form>

  <ion-button mode="ios" expand="block" [disabled]="changePasswordForm.invalid" (click)="onClickChangePassword()"> {{ t('buttons.confirm') }} </ion-button>

</ion-content>
