ion-item {

    &.password-item {
        margin-top: 1rem;
    }

    ion-input {
        --padding-start: 8px;
        --padding-top: 16px;
    }

    &.ion-valid.item-has-focus ion-label.label-floating {
        color: var(--ion-color-success);
    }
}

ion-button {
    margin-top: 2rem;
}
