ion-item {

    &.password-item {
        margin-top: 1rem;
    }

    ion-label.label-floating {
        padding: 0px 6px;
        background: var(--ion-background-color) !important;
    }
}

ion-button {
    margin-top: 2rem;
}
