<ion-content class="ion-padding" *transloco="let t">

  <div class="sign-in-container">

    <form [formGroup]="signInForm">

      <div class="next-level-title-container">
        <label> {{ t('appName') | uppercase }} </label>
      </div>
  
      <ion-item fill="outline">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-label position="floating"> {{ t('signUp.email') }} </ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
  
      <ion-item  fill="outline" class="password-item">
        <ion-icon slot="start" name="key-outline"></ion-icon>
        <ion-label position="floating"> {{ t('signUp.password') }} </ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
    
      <ion-button mode="ios" expand="block" [disabled]="signInForm.invalid" (click)="onClickSignInButton()">
        {{ t('buttons.signIn') }}
      </ion-button>
    
      <ion-button mode="ios" expand="block" fill="outline" routerLink="/sign-up">
        {{ t('buttons.signUpHere') }}
      </ion-button>
  
    </form>

  </div>

</ion-content>
