<ion-card>
  
  <ion-card-content>

    <div class="next-level-list-header">
      <ion-label> {{ list?.name }} </ion-label>
      <ion-icon color="warning" name="star" *ngIf="list?.isFavorite"></ion-icon>
    </div>

    <div class="next-level-list-container">

      <div class="game-container" *ngFor="let game of list?.games | slice : 0 : (list?.games?.length > 4 ? 3 : 4)">
        <img [src]="game?.image" [alt]="game.name" />
      </div>

      <div class="empty-game-container" *ngFor="let game of getEmptySpaces(list?.games)"></div>

      <div class="more-items-container" *ngIf="list?.games?.length > 4">
        <ion-label color="primary"> {{ '+' + (list?.games?.length - 3) }} </ion-label>
      </div>

    </div>

  </ion-card-content>

</ion-card>