<ion-header *transloco="let t">

    <ion-toolbar color="primary">
  
        <ion-buttons slot="start">
            <ion-menu-button menu="first"></ion-menu-button>
        </ion-buttons>
    
        <ion-title> {{ t('board.title') }} </ion-title>
  
        <ion-buttons slot="end">
            <ion-button (click)="isInEditMode ? onClickSaveChanges() : onClickChangeEditMode()">
                <ion-icon slot="icon-only" [name]="isInEditMode ? 'close' : 'create-outline'"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>
  
  </ion-header>

<ion-content *transloco="let t">

    <ion-list>
        <ion-reorder-group (ionItemReorder)="onReorder($event)" [disabled]="!isInEditMode">
            <ion-item *ngFor="let list of board" lines="none">
                <app-next-level-primary-list [list]="list"></app-next-level-primary-list>
                <ion-button class="delete-list" color="danger" shape="round" fill="clear" *ngIf="isInEditMode" (click)="onClickShowNextLevelModal(deleteListModalOptions, list)">
                    <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                </ion-button>
                <ion-reorder slot="end"></ion-reorder>
            </ion-item>
        </ion-reorder-group>
    </ion-list>

    <ion-item lines="none" *ngIf="isInEditMode">
        <div class="add-list-container" (click)="onClickAddListToBoard()">
            <ion-icon name="add" color="primary"></ion-icon>
            <ion-label color="primary"> {{ t('board.addList') }} </ion-label>
        </div>
    </ion-item>

    <app-next-level-modal #nextLevelModal></app-next-level-modal>

</ion-content>
