<ion-header *transloco="let t">

  <ion-toolbar color="primary">
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>

    <ion-title> {{ t('profile.changeUser.title') }} </ion-title>
    
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding" *transloco="let t">

  <form [formGroup]="changeUserForm">

    <ion-item  fill="outline">
      <ion-icon slot="start" name="text-outline"></ion-icon>
      <ion-label position="floating"> {{ t('profile.changeUser.name') }} </ion-label>
      <ion-input type="name" formControlName="name"></ion-input>
    </ion-item>
  
    <ion-item  fill="outline" class="user-item">
      <ion-icon slot="start" name="at-outline"></ion-icon>
      <ion-label position="floating"> {{ t('profile.changeUser.user') }} </ion-label>
      <ion-input type="username" formControlName="user"></ion-input>
    </ion-item>

  </form>

  <ion-button mode="ios" expand="block" [disabled]="changeUserForm.invalid"> {{ t('buttons.confirm') }} </ion-button>

</ion-content>
