<ion-header *transloco="let t">

  <ion-toolbar color="primary">
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>

    <ion-title> {{ t('profile.changeName.title') }} </ion-title>
    
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding" *transloco="let t">

  <form [formGroup]="changeUserForm">

    <ion-item  fill="outline">
      <ion-icon slot="start" name="text-outline"></ion-icon>
      <ion-label mode="md" position="floating"> {{ t('profile.changeName.name') }} </ion-label>
      <ion-input mode="md" type="name" [maxlength]="75" formControlName="name"></ion-input>
    </ion-item>

  </form>

  <ion-button mode="ios" expand="block" [disabled]="changeUserForm.invalid" (click)="onClickChangeDisplayName()"> {{ t('buttons.confirm') }} </ion-button>

</ion-content>
