// img.background-image {
//     height: 150px;
//     width: 100%;
//     object-fit: cover;
//     border-bottom-left-radius: 50%;
//     border-bottom-right-radius: 50%;
// }

// ion-chip.completed-chip {
//     background-color: var(--ion-color-success);
//     position: absolute;
//     top: 0.5rem;
//     right: 0.5rem;

//     ion-icon {
//         margin: 0;
//     }
// }

// ion-chip.playing-chip {
//     background-color: var(--ion-color-warning);
//     position: absolute;
//     top: 0.5rem;
//     right: 0.5rem;

//     ion-icon {
//         margin: 0;
//     }
// }

// ion-card-subtitle {

//     div.parent-platforms {
//         display: flex;
//         flex-direction: row;
//         justify-content: center;
//         align-items: center;

//         img {
//             height: 13px;
//             margin: 0px 5px;
//         }
//     }
// }

// ion-card-title {
//     text-align: center;
// }

// ion-card-content {
//     padding: 1rem 0rem 0rem 0rem;
// }

ion-card-content {
    padding: 0;
    
    div.custom-content {
        display: flex;
        flex-direction: row;

        div.image-container {
            height: 125px;
            width: 150px;
            min-width: 150px;
            margin-right: 0.5rem;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-top-right-radius: 75px;
                border-bottom-right-radius: 75px;
            }
        }
        
        div.information-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0.5rem;
    
            div.parent-platforms {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin: 0.5rem 0;
        
                img {
                    height: 13px;
                    margin: 0px 5px;
                }
            }
        
            div.title {
        
                ion-label {
                    font-size: 1rem;
                    font-weight: 500;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }

            div.status {
                display: flex;
                flex-direction: row;
                margin: 0.5rem 0;

                ion-icon {
                    margin-right: 0.5rem;
                    font-size: 1rem;
                }
            }
        }
    }
}
