ion-card {
    margin-inline: 0;

    ion-card-content {
        width: 100%;

        div.next-level-list-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            h2 {
                font-weight: bold;
            }
        }

        div.next-level-list-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 1rem;
            overflow-x: overlay;
            overflow-y: hidden;
            padding-bottom: 13px;
        
            div.game-container {
                height: 150px;
                min-width: 100px;
                margin-right: 1rem;
        
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }

                &:last-of-type {
                    margin-right: 0;
                }
            }
        }
    }
}

div.next-level-primary-list-layout {
    display: flex;
    flex-direction: column;

    div.next-level-list-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        h2 {
            font-weight: bold;
        }
    }

    div.next-level-list-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        overflow-x: overlay;
        overflow-y: hidden;
        padding: 0.5rem 0.5rem 1rem 0.5rem;
    
        div.game-container {
            height: 150px;
            min-width: 100px;
            margin-right: 1rem;
    
            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 5px;
                box-shadow: 0 3px 5px rgba(0,0,0,0.16), 0 3px 5px rgba(0,0,0,0.23);
            }

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}
