<ion-header *transloco="let t">

  <ion-toolbar color="primary">
    
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/profile"></ion-back-button>
    </ion-buttons>

    <ion-title> {{ t('profile.changeEmail.title') }} </ion-title>
    
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding" *transloco="let t">

  <form [formGroup]="changeEmailForm">

    <ion-item fill="outline">
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-label position="floating"> {{ t('profile.changeEmail.newEmailAddress') }} </ion-label>
      <ion-input type="email" formControlName="newEmailAddress"></ion-input>
    </ion-item>
  
    <ion-item  fill="outline" class="password-item">
      <ion-icon slot="start" name="key-outline"></ion-icon>
      <ion-label position="floating"> {{ t('profile.changeEmail.confirmPassword') }} </ion-label>
      <ion-input type="password" formControlName="confirmPassword"></ion-input>
    </ion-item>
  
    <ion-button mode="ios" expand="block" [disabled]="changeEmailForm.invalid"> {{ t('buttons.confirm') }} </ion-button>

  </form>

</ion-content>
