<ion-menu side="start" menuId="first" contentId="main" *transloco="let t">

  <ion-header>

    <ion-toolbar color="primary">
      <ion-title> {{ t('menu.title') }} </ion-title>
    </ion-toolbar>

    <ion-menu-toggle>
      <ion-item routerLink="profile" lines="none" color="primary">
        <ion-avatar slot="start">
          <img [src]="userStructure?.photoURL" />
        </ion-avatar>
        <ion-label>
          <h2> {{ userStructure?.displayName }} </h2>
          <p> {{ userStructure?.email }} </p>
        </ion-label>
      </ion-item>
    </ion-menu-toggle>

  </ion-header>

  <ion-content>

    <ion-list>

      <ion-menu-toggle *ngFor="let menuItem of menuItems">
        <ion-item [routerLink]="menuItem.redirectTo" lines="none" [disabled]="menuItem.disabled">
            <ion-icon slot="start" color="primary" [name]="menuItem.icon"></ion-icon>
            <ion-label> {{ menuItem.translate ? t('menu.' + menuItem.name) : menuItem.name }} </ion-label>
        </ion-item>
      </ion-menu-toggle>

    </ion-list>

  </ion-content>

</ion-menu>

<div class="loading-container" *ngIf="!isAppLoaded">
  <div class="spinner-container">
    <ion-spinner name="dots" color="primary"></ion-spinner>
  </div>
</div>
