.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--ion-background-color);
    height: 100%;
    width: 100%;
}

ion-toolbar ion-title {
    font-family: 'Lobster', cursive;
    font-size: 30px;
}
