<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ "start" | transloco }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onClickChangeLanguageButton('es')">
        ES
      </ion-button>
      <ion-button (click)="onClickChangeLanguageButton('en')">
        EN
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong> {{ "hello" | transloco }} </strong>
  </div>
</ion-content>
