<div class="legal-layout" *transloco="let t">

  <div class="terms">
    <h3> {{ t('information.legal.terms.title') }} </h3>
    <p> {{ t('information.legal.terms.first') }} </p>
    <ul>
      <li> {{ t('information.legal.terms.second') }} </li>
      <li> {{ t('information.legal.terms.third') }} </li>
      <li> {{ t('information.legal.terms.fourth') }} </li>
    </ul>
    <p> {{ t('information.legal.terms.fifth') }} </p>
    <p> {{ t('information.legal.terms.sixth') }} </p>
    <p> {{ t('information.legal.terms.seventh') }} </p>
    <p> {{ t('information.legal.terms.eighth') }} </p>
  </div>

  <div class="security">
    <h3> {{ t('information.legal.security.title') }} </h3>
    <p> {{ t('information.legal.security.first') }} </p>
    <p> {{ t('information.legal.security.second') }} </p>
  </div>

  <div class="personal">
    <h3> {{ t('information.legal.personal.title') }} </h3>
    <p> {{ t('information.legal.personal.first') }} </p>
  </div>

  <div class="contents">
    <h3> {{ t('information.legal.contents.title') }} </h3>
    <p> {{ t('information.legal.contents.first') }} </p>
    <p> {{ t('information.legal.contents.second') }} </p>
    <p> {{ t('information.legal.contents.third') }} </p>
    <p> {{ t('information.legal.contents.fourth') }} </p>
    <p> {{ t('information.legal.contents.fifth') }} </p>
  </div>

  <div class="cookies">
    <h3> {{ t('information.legal.cookies.title') }} </h3>
    <p> {{ t('information.legal.cookies.first') }} </p>
    <p> {{ t('information.legal.cookies.second') }} </p>
    <ul>
      <li> {{ t('information.legal.cookies.third') }} </li>
      <li> {{ t('information.legal.cookies.fourth') }} </li>
      <li> {{ t('information.legal.cookies.fifth') }} </li>
      <li> {{ t('information.legal.cookies.sixth') }} </li>
    </ul>
  </div>

  <div class="links">
    <h3> {{ t('information.legal.links.title') }} </h3>
    <p> {{ t('information.legal.links.first') }} </p>
    <p> {{ t('information.legal.links.second') }} </p>
    <p> {{ t('information.legal.links.third') }} </p>
    <p> {{ t('information.legal.links.fourth') }} </p>
    <p> {{ t('information.legal.links.fifth') }} </p>
  </div>

  <div class="property">
    <h3> {{ t('information.legal.property.title') }} </h3>
    <p> {{ t('information.legal.property.first') }} </p>
    <p> {{ t('information.legal.property.second') }} </p>
  </div>

  <div class="limited">
    <h3> {{ t('information.legal.limited.title') }} </h3>
    <p> {{ t('information.legal.limited.first') }} </p>
    <p> {{ t('information.legal.limited.second') }} </p>
    <p> {{ t('information.legal.limited.third') }} </p>
    <p> {{ t('information.legal.limited.fourth') }} </p>
  </div>

  <div class="jurisdiction">
    <h3> {{ t('information.legal.jurisdiction.title') }} </h3>
    <p> {{ t('information.legal.jurisdiction.first') }} </p>
    <p> {{ t('information.legal.jurisdiction.second') }} </p>
  </div>

  <div class="contact">
    <h3> {{ t('information.legal.contact.title') }} </h3>
    <p> {{ t('information.legal.contact.first') }} </p>
  </div>

</div>
